// Specific CSS for your home-page
.home-container {
  color: $myblue;
}

.home-banner h1 {
  padding: 22px;
  color: $mygold;
  text-shadow: 1px 0px 2px #BFB39B;
}


.home-presentation {
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}

.form-inputs {
text-align: center;
}

.sign-form {
  padding: 22px;
  max-width:400px;
  margin: 0 auto;
}

.btn {
  width: 60%;
  background-color: $mygold;
  opacity: 0.8;
  border-radius: 15px;
  color: $mybeige;
  margin-bottom: 32px;
  }

.btn:hover {
  opacity: 1;
  border-radius: 15px;
  color: white;
}
