.home-logged {
  padding: 0px 8px 120px 8px;
  background-color: $mybeige;
}

.home-banner {
  background-image: url("../../assets/images/celsurf.jpg");
  background-size: cover;
  font-size: 2em;
  margin: 0;
  height: 230px;
}

.home-banner h1 span {
  color: #F7F6F3;
}

.home-logged h2 {
  padding: 22px;
  color: #977049;
  text-shadow: 1px 0px 2px #bfb39b;
}


.session-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 10px 30px 10px 0px;
}

.index-photo img {
  width: 150px;
  aspect-ratio: 4/3;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style-type: none;
}

.index-session {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.index-session link {
  background-color: red;
}
