.home-logged {
  padding-bottom: 120px;
  background-color: $mybeige;
}

.home-banner {
  background-image: url("../../assets/images/celsurf.jpg");
  background-size: cover;
  font-size: 2em;
  margin: 0;
  min-height: 400px;
  @media(min-width: 700px){
  min-height: 600px;
  }
  @media(max-width: 450px){
  min-height: 250px;
  }
}

.home-banner h1 span {
  color: #F7F6F3;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;
}

.home-title h2 {
  color: #977049;
  text-shadow: 1px 0px 2px #bfb39b;
}

.home-title h3 {
  font-size: 1.25rem !important;
  color: $myblue;
}

.session-cards {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 18px;

  .session-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-top: 10px;
  }
}

.index-photo img {
  width: 150px;
  aspect-ratio: 4/3;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style-type: none;
}

.index-session {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.index-session a {
  color: $myblue;
  font-family: 'Do Hyeon', 'sans-serif';
  font-size: 1,2em;
}

.follow-friends {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.follow-friends h3 {
  font-size: 1.25rem !important;
  color: $myblue;
}

.friends {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

// .session-cards .all-btn {
//   display: flex;
//   justify-content: center;
//   align-content: center;
// }

// .all-btn button {
//   background-color: $mygreen;
//   opacity: 0.6;
//   border-radius: 5px;
//   border-style: none;
//   padding: 3px 10px;
//   box-shadow: 0px 1px 3px #1e405c;
//   margin: 3px;
// }

// .all-btn a {
//   color: white !important;
//   text-decoration: none !important;

// }

// .all-btn button:hover {
//   background-color: $mygreen;
//   opacity: 1;
// }
