// Specific CSS for your home-page
.home-container {
  color: $myblue;
}

.home-banner {
  background-image: url("../../assets/images/celsurf.jpg");
  background-size: cover;
  font-size: 2em;
  padding-bottom: 80px;
  margin: 0;
}

.home-banner h1 {
  padding: 22px;
  color: $mygold;
  text-shadow: 1px 0px 2px #BFB39B;
}

.home-presentation {
  text-align: center;
  padding: 22px;
}

.form-inputs {
text-align: center;
}

.sign-form {
  padding: 22px;
}

input.btn {
  width: 100%;
  background-color: $mygold;
  opacity: 0.8;
  border-radius: 15px;
  color: $mybeige;
  margin-bottom: 32px;
  }

input.btn:hover {
  opacity: 1;
  border-radius: 15px;
  color: white;
}
