<h1>MySurfBook</h1>
<p>Note tes sessions, organise tes souvenirs, affine ta connaissance des spots que tu fréquentes et partage tout ça !</p>

<%= link_to "T'as été surfer ?", new_session_path, class: "btn btn-flat" %>
<%= link_to "Tes dernières sessions", sessions_path, class: "btn btn-flat" %>
