
<p>Record your surf sessions, organize your memories, refine your knowledge of the spots you frequent and share it all!</p>
<%= link_to "Went surfing ?", new_surf_session_path, class: "btn btn-flat" %>
<%= link_to "My last sessions", surf_sessions_path, class: "btn btn-flat" %>
