<div class="home-title">
    <h2>Archives</h2>
</div>

<div class= "session-cards">
  <span><%= Time.now.strftime("%Y") %> sessions</span>
  <% @archived_surf_sessions.each do |surf_session| %>
    <%= render "surf_sessions/surf_session_card", surf_session: surf_session  %>
  <% end %>
  <%= button_tag "See #{(Time.now - 1.year).year} sessions"  %>
</div>
