<ul>
   <% @surf_sessions.each do |surf_session| %>
    <li>
      <% if surf_session.photos.any? %>
        <%= cl_image_tag surf_session.photos.first.key, height: 120, width: 200, crop: :fill %>
        <% end %>
      <%= link_to surf_session.title, surf_session_path(surf_session)%>
      <%=surf_session.date%>
    </li>
  <% end %>
</ul>
