<div>
  <ul>
     <% @surf_sessions.each do |surf_session| %>
      <li class="session-card">
        <div class="index-photo">
          <% if surf_session.photos.any? %>
            <%= cl_image_tag surf_session.photos.first.key  %>
          <% end %>
        </div>
        <div class="index-session">
          <%= link_to surf_session.title, surf_session_path(surf_session)%>
          <%=surf_session.date%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
