.spot-selector input {
  margin:0;
  padding: 20px;
  appearance:none;
}

.beach {
  background-image: image-url('../../assets/images/beach.png');
  border-radius: 30%;
}

.reef {
  background-image: image-url('../../assets/images/reef.png');
  border-radius: 30%;
}

.spot-selector input:active + .spottype {
  opacity: 1;
}

.spot-selector input:checked + .spottype{
  filter: none;
}

.spottype {
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:80px; height:60px;
  transition: all 100ms ease-in;
  filter: opacity(.5);
  margin-right: 18px;
}

.spottype:hover {
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.tide-selector input {
  margin:0;
  padding:18px;
  appearance:none;
}

.high-tide {
  background-image: image-url('../../assets/images/high-tide.png');
  border-radius: 30%;
}

.mid-tide {
  background-image: image-url('../../assets/images/mid-tide.png');
  border-radius: 30%;
}

.low-tide {
  background-image: image-url('../../assets/images/low-tide.png');
  border-radius: 30%;
}

.tide-selector input:active + .tide {
  opacity: 1;
}

.tide-selector input:checked + .tide {
  filter: none;
}

.tide{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:80px;height: 60px;
  transition: all 100ms ease-in;
  filter: opacity(.5);
}

.tide:hover{
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.container {
  margin: 30px 0px 130px 0;
}

label {
  font-family: 'Do Hyeon', 'sans-serif';
  font-size: 1,2em;
  color: $myblue;
}

.spot-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.tide-selector {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.save {
  margin: 32px 0px;
}
