.navbar {
  justify-content: space-between;
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 3;
  padding: 0.5rem 1rem;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 80px;
}
.navbar h1 {
  color: $mybeige;
}

.action-icon {
  color: $mygold;
}

.navbar .icon {
  width: 60px;
}

.nav-action img{
  width: 60px;
}

.show-click {
  display: none;
}
