.navbar {
  justify-content: space-between;
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 3;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 80px;
}
.navbar h1 {
  color: $mybeige;
}

.navbar .avatar {
  width: 60px;
}

.action-icon {
  color: $mygold;
}

.navbar .icon {
  width: 60px;
}
