.topbar {
  display: none;
  // justify-content: space-between;
  // background-color: white;
  // color: $mybeige;
  // position: fixed;
  // width: 100%;
  // display: flex;
  // padding: 10px 20px;
  // align-items: center;
  // z-index: 10;
}

.topbar .avatar {
  width: 60px;
}

.topbar h1 {
  font-size: 22px;
  font-weight: lighter;
}
